* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #333333;
    font-family: 'Rubik', sans-serif;
}

.game {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreBoard {
    display: flex;
    /* align-self: flex-start; */
    top: 0;
    /* right: 0; */
    position: absolute;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.tileNum {
    display: flex;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#tileNumLabel, #tileNumValue {
    width: 50px;
}

#tileNumLabel {
    text-align: left;
}

#tileNumValue {
    text-align: end;
}

.trialNum {
    display: flex;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#trialNumLabe, #trialNumValue {
    width: 90px;
}

#trialNumLabe {
    text-align: left;
}

#trialNumValue {
    text-align: end;
}

.score {
    display: flex;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#scoreLabel, #scoreValue {
    width: 80px;
}

#scoreLabel {
    text-align: left;
}

#scoreValue {
    text-align: end;
}

#gameMessage {
    display: flex;
    /* align-self: flex-start; */
    /* right: 0; */
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 100px;
}

.gameBoard {
    padding: 35px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.gameGrid {
    pointer-events: none;
}

.gameGrid.didsableClick {
    pointer-events: none;
}

.rotate {
    -webkit-animation: spin 1s linear;
    -moz-animation: spin 1s linear;
    animation: spin 1s linear;
    animation-fill-mode: forwards;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(90deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(90deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes rotate {
    to {
        transform: rotate(90deg);
    }
}

.row {
    display: flex;
}

.col {
    cursor: pointer;
    transform-style: preserve-3D;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 1px;
    background-color: #ffffff80;
    border-radius: 5px;
    /* transition: transform 1s;
    transform-origin: center center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.4s;
    margin: 3px;
}

.col.invisible {
    background-color: #333333;
    box-shadow: 0 0 0 0 white;
    /* pointer-events: none; */
}

.col:hover {
    opacity: 0.7;
}

.col.correct {
    background-color: #37BC61;
    transform: rotateY(180deg);
    pointer-events: none;
}

.col.wrong {
    background-color: rgb(197, 64, 64);
    transform: rotateY(180deg);
    pointer-events: none;
}

#gameDashboard {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameSummary {
    width: 350px;
    height: 350px;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s opacity 0.5s;
}


#gameLeaderboard {
    width: 350px;
    height: 500px;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s opacity 0.5s;
}

.board-active{
    visibility: visible;
    opacity: 1;
}


#summary{
    position: relative;
    padding: 25px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
}


.leaderboard-wrapper {
    position: relative;
    padding: 25px;
    height: 450px;
    background-color: white;
    display: flex;
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
}

.myButton {
    width: 25%;
    /* margin: 20px;
    padding: 10px 30px; */
    background-color: white;
    color: green;
    border: none;
    cursor: pointer;
}