* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #333333;
    font-family: 'Rubik', sans-serif;
}

.game {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreBoard {
    height: 45px;
    display: flex;
    /* align-self: flex-start; */
    top: 0;
    /* right: 0; */
    position: absolute;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

#quitBtn {
    display: flex;
    width: 80px;
    height: 45px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.7);
    justify-content: center;
}

.tileNum {
    display: flex;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#tileNumLabel, #tileNumValue {
    width: 40px;
}

#tileNumLabel {
    text-align: left;
}

#tileNumValue {
    text-align: end;
}

.trialNum {
    display: flex;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#trialNumLabe, #trialNumValue {
    width: 90px;
}

#trialNumLabe {
    text-align: left;
}

#trialNumValue {
    text-align: end;
}

.score {
    display: flex;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-right: 3px;
    transition: 0.3s;
}

#scoreLabel, #scoreValue {
    width: 60px;
}

#scoreLabel {
    text-align: left;
}

#scoreValue {
    text-align: end;
}

#gameMessage {
    display: flex;
    /* align-self: flex-start; */
    /* right: 0; */
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 100px;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.gameBoard {
    padding: 57px 65px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.gameGrid {
    pointer-events: none;
}

.gameGrid.didsableClick {
    pointer-events: none;
}

.rotate {
    -webkit-animation: spin 1s linear;
    -moz-animation: spin 1s linear;
    animation: spin 1s linear;
    animation-fill-mode: forwards;
}

.row {
    display: flex;
}

.col {
    cursor: pointer;
    display: inline-block;
    width: 8vw;
    height: 8vw;
    max-width: 70px;
    max-height: 70px;
    margin: 3px;
    background-color: #ffffff80;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    transition: 0.4s;
}

.col.invisible {
    background-color: #333333;
    box-shadow: 0 0 0 0 white;
    /* pointer-events: none; */
}

.col:hover {
    opacity: 0.7;
}

.col.correct {
    background-color: #37BC61;
    transform: rotateY(180deg);
    pointer-events: none;
}

.col.wrong {
    background-color: rgb(197, 64, 64);
    transform: rotateY(180deg);
    pointer-events: none;
}

.gameDashboard {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s opacity 0.5s;
}

.gameDashboard.board-active {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.dialog-button {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: rgb(204, 204, 204);
    border-radius: 4px;
    /* border: 3px solid rgb(0, 0, 0); */
    margin-left: 7.5px;
    margin-right: 7.5px;
    pointer-events: auto;
}

.dialog-button.disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
}

.summary {
    position: relative;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
    transition: visibility 0s opacity 0.5s;
    text-transform: uppercase;
}

#summaryTitle {
    /* padding: 10px; */
    font-size: 100%;
    font-weight: bold;
}

.gameInfo {
    display: flex;
    margin-top: 25px;
}

#levelLabel {
    margin-left: 20px;
}

#gameScoreValue, #levelValue {
    margin-right: 10px;
    margin-left: 10px;
}

.summaryForm {
    margin-top: 25px;
    margin-bottom: 25px;
}

#nameValue {
    margin-left: 10px;
    width: 150px;
    autocom
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leaderboard {
    position: relative;
    padding: 25px;
    background-color: white;
    /* display: flex; */
    justify-items: space-around;
    align-items: center;
    flex-direction: column;
    transition: visibility 0s opacity 0.5s;
}

.welcome {
    position: relative;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: visibility 0s opacity 0.5s;
}

.welcome.hide {
    visibility: hidden;
    opacity: 0;
    display: none;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(90deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(90deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes rotate {
    to {
        transform: rotate(90deg);
    }
}